# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Better Auth
# You can generate a new secret on the command line with:
# npx @better-auth/cli@latest secret
# https://www.better-auth.com/docs/concepts/cli#secret
BETTER_AUTH_SECRET=""
# Base URL of your app
BETTER_AUTH_URL="http://localhost:5173"

# Better Auth Discord Provider
# Get these from Discord Developer Portal -> OAuth2: https://discord.com/developers/applications
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Drizzle: Turso libsql
DATABASE_URL="libsql://db-name-user.turso.io"
DATABASE_AUTH_TOKEN=""
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"

# Redis
REDIS_URL="redis://default:redis-pw@localhost:6379"