@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';

@theme inline {
	--font-geist-sans: 'Geist';
}

@theme {
	--default-font-family: var(--font-geist-sans), sans-serif, system-ui;
	--font-sans: var(--font-geist-sans), sans-serif, system-ui;
	/* For custom typography plugin color themes see: https://github.com/tailwindlabs/tailwindcss-typography?tab=readme-ov-file#adding-custom-color-themes */
}
